
.file-picker {
	position: relative;

	&.isMulti {
		> div {
			white-space: normal;
			padding: @filePickerPadding;
			background: @filePickerBackground;
			border-radius: @filePickerBorderRadius;
			box-shadow: @filePickerBoxShadow;
		}
	}

	&:not(.isMulti) {
		.file-input {
			margin: 0;
			width: 100%;
		}
	}
}
