/* Primary Definitions */
@import (css) url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css');
@import (css) url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import (css) url('https://fonts.googleapis.com/css?family=Oswald:200,400|Titillium+Web:200,300');
@import '../simple/base.less';

@chromeFontFamily: 'Titillium Web', 'FontAwesome', arial, helvetica, sans-serif;
@headingFontFamily: 'Oswald', 'FontAwesome', arial, helvetica, sans-serif;

@highlightColor: #fa0;
@subHighlightColor: #eda;
@validColor: #360;
@warningColor: #c70;
@errorColor: #c00;

@smallShadowColor: fade(@shadowColor, 50%);
@largeShadowColor: fade(@shadowColor, 40%);
@chromeReflectionColor: fade(@reflectionColor, 40%);

@textShadow: 0 0.06rem 0 fade(@reflectionColor, 85%);
@iconShadow: 0 0.06rem 0.06rem fade(@reflectionColor, 85%);

@separatorReflectionColor: fade(@reflectionColor, 20%);

@fontColor: #353331;
@backgroundColor: #efe8e0;

@chromeFontColor: #353331;
@chromeSubFontColor: fade(@chromeFontColor, 50%);

@checkImageUrl: left top/0.5rem url('/images/common/checkerLight.svg');
@noiseImageUrl: left top/8rem url('/images/common/textureLight.png');

/* Body */
@bodyBackground: radial-gradient(ellipse at top center, fade(@shadowColor, 0%) 10%, @smallShadowColor 140%), @checkImageUrl, @noiseImageUrl, @backgroundColor;

/* Header */
@headerHeight: 3.4rem;
@mainHeaderTopColor: @backgroundColor;
@mainHeaderBottomColor: saturate(shade(@backgroundColor, 25%), 1%);
@headerBackground: @checkImageUrl, @noiseImageUrl, radial-gradient(ellipse at top center, @mainHeaderTopColor 0%, @mainHeaderBottomColor 140%), @mainHeaderBottomColor;
@headerShadow: 0 0 0.85rem fade(@shadowColor, 80%);

@headerButtonIconColor: lighten(@chromeFontColor, 10%);
@headerButtonSelectedTextShadow: 0 0 1.15rem @buttonSelectedTextColor;

@headerSearchBarMargin: 0.4rem 0.5rem;

/* Buttons */
@buttonItemSpacing: 0.4rem;
@formButtonCornerRadius: 0.5rem;
@formButtonMarginRight: 0.3rem;
@checkboxBorderRadius: 0.15rem;
@checkboxRadioSize: 1.3rem;
@checkboxFontSize: 1.3rem;
@checkboxIndeterminateFontSize: 0.7rem;
@radioBorderRadius: 0.65rem;
@checkboxRadioPaddingLeft: 0.4rem;
@checkboxRadioTextPaddingLeft: 0.6rem;
@tagCornerRadius: 0.2rem;
@tagMargin: 0.15rem;
@groupedButtonWrapperSize: 0.4rem;
@groupedButtonMultiSelectPaddingLeft: 0.85rem;
@buttonImageSize: 2.3rem;
@popupButtonCaretWidth: 1.4rem;
@iconButtonPadding: 0.06rem 0.06rem 0.2rem;

@buttonSelectedTextColor: @backgroundColor;

@formButtonShadow: @buttonReflectionShadow, 0 0.06rem 0.3rem @smallShadowColor;
@formButtonSelectedShadow: 0 0 2rem fade(@subHighlightColor, 80%);

@formButtonBorderColor: #b5afa9;
@formButtonTopColor: #dfd9d4;
@formButtonBottomColor: shade(@formButtonTopColor, 7);
@formButtonSelectedBorder: 0.06rem solid;
@formButtonSelectedBorderImage: radial-gradient(@subHighlightColor 70%, fade(@subHighlightColor, 0) 95%) 1;
@formButtonSelectedTopColor: #5f5850;
@formButtonSelectedBottomColor: #5f5850;
@formButtonSelectedBackground: radial-gradient(@subHighlightColor 10%, @highlightColor 120%);
@formButtonSelectedHoverBackground: radial-gradient(@subHighlightColor 20%, @highlightColor 130%);
@formButtonSelectedHoverTopColor: darken(@formButtonSelectedTopColor, 5);
@formButtonSelectedHoverBottomColor: darken(@formButtonSelectedBottomColor, 5);

@actionButtonTopColor: average(@highlightColor, @subHighlightColor);

@groupedButtonGroupSelectedShadow: 0 0 2rem fade(@highlightColor, 30%);
@groupedButtonGroupShadow: 0 0.85rem 0.6rem @largeShadowColor;
@groupedButtonBorderLeftColor: @separatorShadowColor;
@groupedButtonBorderRightColor: @separatorReflectionColor;
@groupedButtonWrapperShadow: 0 0.06rem 0 @chromeReflectionColor, inset 0 0.06rem 0.2rem @largeShadowColor;
@groupedButtonWrapperBackground: @formButtonBorderColor;

/* heading */
@headingErrorFontWeight: @normalFontWeight;
@headingExpanderTransform: translateY(-0.25em);
@headingCheckboxTransform: none;
@headingNotInlineIconHeight: 1.6em;
@headingNotInlineButtonWidth: 3.6em;
@headingNotInlineSingleLineMarginTop: 0.65em;

@h1FontSize: 1.8rem;
@h2FontSize: 1.8rem;
@h3FontSize: 1.6rem;
@h4FontSize: 1.6rem;
@h5FontSize: 1rem;
@h6FontSize: 1rem;
@h1FontLineHeight: 1.3em;
@h2FontLineHeight: 1.3em;
@h3FontLineHeight: 1.4em;
@h4FontLineHeight: 1.4em;
@h5FontLineHeight: 1.3em;
@h6FontLineHeight: 1.3em;
.h1Ex() {
	> .icon {
		transform: translateY(-0.2em);
	}
}

.h2Ex() {
	> .icon {
		transform: translateY(-0.2em);
	}
}

.h3Ex() {
	.allSmallCaps();

	> .icon {
		transform: translateY(-0.25em);
	}
}

.h4Ex() {
	> .icon {
		transform: translateY(-0.25em);
	}
}

.h5Ex() {
	.allSmallCaps();
	letter-spacing: 0.075em;

	.toolbar {
		.icon-button {
			padding: 0;
		}

		.icon {
			transform: translateY(-0.1em);
			font-size: 1.1em;
		}
	}
}

.h6Ex() {
	.toolbar {
		.icon-button {
			padding: 0;
		}

		.icon {
			transform: translateY(-0.1em);
			font-size: 1.1em;
		}
	}
}

/* Toolbar */
@toolbarColor: #e8e4e0;

/* Form Controls */
@formControlSingleLineHeadingLineHeight: 1.4em;

/* Text Input */
@inputBorder: 0;
@inputCountMargin: 0 0.3em;
@inputBackground: fade(@shadowColor, 10%);
@inputShadow: inset 0 0.3rem 0.4rem fade(@shadowColor, 15%), 0 0.06rem 0 @chromeReflectionColor;

/* Progress Bar */
@progressBarStepPadding: 0.1em 0.6em 0;

/* Timeline */
@timelineLineBackground: linear-gradient(to right, fade(@secondaryFontColor, 0%), fade(@secondaryFontColor, 20%) 4rem, fade(@secondaryFontColor, 50%), fade(@secondaryFontColor, 20%) calc(100% - 4rem), fade(@secondaryFontColor, 0%));

/* grid */
@gridHeaderCellPadding: 0.15rem 0.4rem 0.35rem;
@gridEmptyContentPadding: @gridCellPadding;

/* menu */
@menuItemPaddingLeft: 0.4em;
@menuItemLineHeight: 1.8em;

/* tabs */
@tabsHorizontalTabContainerShadow: inset 0 -0.15rem 0.3rem -0.15rem @smallShadowColor;
@tabsVerticalTabContainerWidth: 15rem;
@tabsVerticalTabContainerCollapsedWidth: 6.7rem;

/* group */
@groupMinHeight: 4.3rem;
@groupHeadingPadding: 0 0 0 0.4em;

@groupTopColor: fade(desaturate(lighten(@backgroundColor, 10), 4), 75%);
@groupBottomColor: fade(@backgroundColor, 75%);
@groupBackground: radial-gradient(ellipse at top center, @groupTopColor 0%, @groupBottomColor 140%), @noiseImageUrl;
@groupShadow: inset 0 0.06rem 0 @chromeReflectionColor, 0 0.6rem 0.85rem @largeShadowColor;
@groupIconColor: @secondaryFontColor;
@groupBorder: none;

/* popups */
@dialogFooterButtonMargin: 0 0.15rem;
@popupShadow: 0 0.15rem 1.15rem 0 @popupShadowColor;
@tooltipBoxShadow: 0 0.15rem 0.6rem 0 @popupShadowColor;

/* File Thumbnail */
@FileThumbnailSmallHeight: 4.6rem;

/* Drawer */
@drawerShadow: 0.15rem 0 0.6rem @largeShadowColor;

/* Drawer Menu */
@drawerMenuItemPadding: 0.6rem 0.6rem 0.4rem;

/* Calendar */
@calendarDayButtonTodayOutlineWidth: 0.15rem;

/* Is Working */
@isWorkingBackground: transparent;
.isWorkingEx() {
	> div {
		&::before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			border-radius: 50%;
			border: 0.06rem solid fade(@fontColor, 15%);
		}

		&::after {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			border-radius: 50%;
			border: 0 solid fade(@subHighlightColor, 0%);
			border-top: 0.06rem solid @subHighlightColor;
			animation: spin 1.5s linear infinite;
		}
	}

	&.medium {
		> div {
			&::after {
				animation: spin 1.25s linear infinite;
			}
		}
	}

	&.small {
		> div {
			&::after {
				animation: spin 1s linear infinite;
			}
		}
	}

	@keyframes spin {
		100% {
			transform: rotate(360deg)
		}
	}
}

/* toast */
@toastIconTransform: translateY(0.4em);
@toastShadow: 0 0.15rem 0.6rem @smallShadowColor;
